<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Registration form</title>
</head>
<body>    
    <div class="main-container">
        <header class="header-line">
            <div>
                <button value="Light theme" id="theme-button">Light theme</button>
            </div>
        </header>
        <h1>Registration form</h1>
        <form action="" method="post" class="registration-form" id="registration-form">
            <div class="form-input">
                <label for="login-input">Login</label>
                <input type="text" id="login-input" name="login" placeholder="Enter your login...">
            </div>
            <div class="form-input">
                <label for="email-input">E-mail</label>
                <input type="text" id="email-input" name="email" placeholder="Enter your e-mail...">
            </div>
            <div class="form-input">
                <label for="password-input-first">Password</label>
                <input type="password" id="password-input" name="password" placeholder="Enter your password...">
            </div>
            <div class="form-input">
                <label for="password-input-second">Repeat password</label>
                <input type="password" id="repeated-password-input" placeholder="Repeat your password...">
            </div>
            <div class="form-input">
                <label for="user-sex-select">Your gender</label> <br>
                <select id="user-sex-select" name="sex" class="user-sex-select"> 
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                </select>
            </div>        
            <input type="submit" value="Sign up">
        </form>
    </div>
    <script src="js/script.js"></script>
</body>
</html>